<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chintpower.DingTalk.dao.UserMapper">
    <select id="getAllUsers" resultType="User">
        SELECT TOP 501 t.*, %%physloc%% as "%%physloc%%"
        FROM test_hzh.dbo.tb_users t
        ORDER BY userid DESC, employstatus
    </select>
</mapper>